<p>
  <%= simple_format t('pages.collectivities.no_france_connect.alternative_text') %>

  <ul class="fr-ml-2w">
    <% t('pages.collectivities.no_france_connect.alternative_options').each do |option| %>
      <%= simple_format option, { }, wrapper_tag: 'li' %>
    <% end %>
  </ul>
</p>

<p>
  <%= simple_format t('pages.collectivities.no_france_connect.transmission_text') %>

  <ul class="fr-ml-2w">
    <% t('pages.collectivities.no_france_connect.transmission_options').each do |option| %>
      <%= simple_format option, { }, wrapper_tag: 'li' %>
    <% end %>
  </ul>
</p>

<div class="fr-callout fr-icon-information-line fr-mt-6w">
  <h3 class="fr-callout__title">
    <%=t('pages.collectivities.no_france_connect.callout.title')%>
  </h3>
  <p class="fr-callout__text">
    <%=t('pages.collectivities.no_france_connect.callout.text')%>
  </p>
  <%= link_to t('pages.collectivities.no_france_connect.callout.button'), "https://form.typeform.com/to/sXL2WhOi", class: "fr-btn"%>
</div>