<% content_for :banner_title do %>
  <%= simple_format t('home.index.banner.text'), { }, wrapper_tag: 'span' %>
<% end %>

<% content_for :banner_right do %>
  <%= render partial: "shared/banner_duration_and_link", locals: { duration: 3 } %>
<% end %>

<%= simple_format t('.title'), { }, wrapper_tag: 'h2' %>

<%= form_with url: select_collectivities_path, method: :get, class: "fr-col-md-8" do |form| %>
  <div class="fr-select-group">
    <%= form.label :id, class: "fr-label" do %>
      <%= t('.form.label') %>

      <span class="fr-hint-text"><%= t('.form.hint') %></span>
    <% end %>

    <%= form.select :id, options_from_collection_for_select(@collectivities, :siret, :select_name), { prompt: t('.form.prompt') }, { class: "fr-select", required: true } %>

    <div class="fr-notice fr-notice--info fr-mt-2w">
      <div class="fr-container">
        <div class="fr-notice__body">
          <p class="fr-notice__title"><%= t('.form.notice.text') %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="fr-grid-row fr-grid-row--right">
    <%= button_tag type: "submit", class: "fr-btn fr-btn--lg fr-btn--icon-right fr-fi-arrow-right-line" do %>
      <%= t('shared.next_button') %>
    <% end %>
  </div>
<% end %>
