<%= render partial: "show_banner", locals: { duration: 2 } %>

<div class="fr-col-md-8">
  <%= simple_format t('.title'), { }, wrapper_tag: 'h2' %>

  <%= simple_format t('.explanation'), { }, wrapper_tag: 'p' %>

  <%= render partial: "alternatives" %>

  <div class="fr-callout fr-icon-information-line fr-mt-6w">
    <h3 class="fr-callout__title"><%= t('.callout.title') %></h3>

    <p class="fr-callout__text"><%= t('.callout.text') %></p>

    <%= link_to t('.callout.button'), "https://form.typeform.com/to/sXL2WhOi", class: "fr-btn" %>
  </div>
</div>
