<% content_for :banner_title do %>
  <%= simple_format t('pages.shipments.banner.text', label: "Pey", postal_code: "26410"), { }, wrapper_tag: 'span' %>
<% end %>

<% content_for :banner_right do %>
  <p class="fr-tag fr-tag--icon-left fr-icon-timer-fill">
    <%= t('pages.shipments.banner.duration_text')%>
  </p>
<% end %>

<div class="fr-col-md-8">
  <h2><%= t('pages.shipments.title') %></h2>

  <div class="fr-alert fr-alert--info">
    <h3 class="fr-alert__title"><%= t('pages.shipments.info.title') %></h3>
    <p><%= t('pages.shipments.info.content') %></p>
    <p class="fr-text--sm fr-mt-2w"><%= t('pages.shipments.info.star_content') %></p>
  </div>

  <div class="fr-grid-row fr-grid-row--center fr-mt-5w">
    <div class="fr-connect-group">
      <%= form_tag('/auth/france_connect', method: 'post', data: {turbo: false}) do %>
        <button type='submit' class="fr-connect">
          <span class="fr-connect__login">S’identifier avec</span>
          <span class="fr-connect__brand">FranceConnect</span>
        </button>
      <% end %>
      
      <p>
        <a href="https://franceconnect.gouv.fr/" target="_blank"  rel="noopener" title="Qu’est-ce que FranceConnect ? - nouvelle fenêtre">
          Qu’est-ce que FranceConnect ?
        </a>
      </p>
    </div>
  </div>
</div>