<%= render partial: "collectivities/show_banner", locals: { duration: 1 } %>

<div class="fr-col-md-8">
  <h2><%= t('errors.title') %></h2>
  <%= render partial: "collectivities/alternatives" %>
</div>
<!--
  <%= raw JSON.pretty_generate(session.fetch("raw_info", {}).slice("sub", "idp_birthdate", "birthcountry", "birthdate", "birthplace", "family_name", "given_name", "gender")) %>
-->

<!--
  <%= raw JSON.pretty_generate(session.fetch("quotient_familial", {})) %>
-->
