<%= render partial: "collectivities/show_banner", locals: { duration: 1 } %>

<div class="fr-col-md-8">
  <%= simple_format t('pages.shipments.new.title', collectivity_name: @collectivity.name), { }, wrapper_tag: 'h2' %>

  <div class="user-data fr-p-3w">
    <h3 class="fr-h4 underlined fr-pb-1w"><%= t('pages.shipments.new.quotient_familial.title', regime: @quotient_familial_facade.regime) %></h3>

    <% if @quotient_familial_facade.empty? %>
      <div class="fr-alert fr-alert--warning fr-alert--sm">
        <p><%= t('errors.no_data') %></p>
      </div>
    <% else %>
      <ul>
        <li>
          <strong><%= t('pages.shipments.new.quotient_familial.quotient', month_year: @quotient_familial_facade.month_year) %></strong>
          <br /><%= @quotient_familial_facade.value %>
        </li>

        <li>
          <strong><%= t('pages.shipments.new.allocataires') %></strong>
          <% @quotient_familial_facade.allocataires.each do |allocataire| %>
            <br /><%= allocataire %>
          <% end %>
        </li>

        <li>
          <strong><%= t('pages.shipments.new.children') %></strong>
          <% @quotient_familial_facade.children.each do |child| %>
            <br /><%= child %>
          <% end %>

          <% if @quotient_familial_facade.children.blank? %>
            <br /><%= t('pages.shipments.new.no_children') %>
          <% end %>
        </li>
      </ul>
    <% end %>

    <h3 class="fr-h4 underlined fr-pb-1w fr-mt-2w"><%= t('pages.shipments.new.france_connect.title') %></h3>

    <% if @pivot_identity_facade.empty? %>
      <div class="fr-alert fr-alert--warning fr-alert--sm">
        <p><%= t('errors.no_data') %></p>
      </div>
    <% else %>
      <%= simple_format @pivot_identity_facade.full_sentence, { }, wrapper_tag: 'p' %>
    <% end %>
  </div>

  <div class="fr-grid-row fr-my-3w">
    <div class="fr-col">
      <%= link_to t('shared.previous_button'), collectivities_path, class: "fr-btn fr-btn--secondary fr-btn--icon-left fr-fi-arrow-left-line fr-mb-1w" %>
    </div>

    <%= form_tag(collectivity_shipments_path(params[:collectivity_id]), method: 'post', data: {turbo: false}) do %>
      <%= button_tag type: :submit, class: "fr-btn fr-btn--lg fr-btn--icon-right fr-fi-arrow-right-line" do %>
        <%= simple_format t('pages.shipments.new.next_button', collectivity: @collectivity.name), { }, wrapper_tag: 'span' %>
      <% end %>
    <% end %>
  </div>

  <div class="fr-alert fr-alert--info">
    <h3 class="fr-alert__title"><%= t('pages.shipments.new.info.title') %></h3>
    <p class="fr-my-2w">
      <span class="fr-icon-success-fill success-green" aria-hidden="true"></span>
      <%=  t('pages.shipments.new.info.paragraph_1', collectivity: @collectivity.name) %>
    </p>
    <p>
      <span class="fr-icon-success-fill success-green" aria-hidden="true"></span>
      <%=  t('pages.shipments.new.info.paragraph_2', collectivity: @collectivity.name) %>
    </p>
    <p>
      <a class="fr-link--sm" href='/faq#donnees-personnelles'>
        <%= t('pages.shipments.new.info.link')%>
      </a>
    </p>
  </div>
  <!--
    <%= raw JSON.pretty_generate(session.fetch("raw_info", {}).slice("sub", "idp_birthdate", "preferred_username", "birthcountry", "birthdate", "birthplace", "family_name", "given_name", "gender")) %>
  -->

  <!--
    <%= raw JSON.pretty_generate(session.fetch("quotient_familial", {})) %>
  -->
</div>
