<%= render partial: "collectivities/show_banner", locals: { duration: 1 } %>

<div class="fr-col-md-8">

  <h2><%= t('pages.shipments.new.title', collectivity_name: @collectivity.name) %></h2>

  <div class="user-data fr-p-3w">

    <% if @quotient_familial_facade.error_message || @quotient_familial_facade.empty? %>
      <h3 class="fr-h4 underlined fr-pb-1w"><%= t('pages.shipments.new.quotient_familial.no_data_title') %></h3>

      <%= @quotient_familial_facade.error_message || t('pages.shipments.new.quotient_familial.no_data') %>
    <% else %>
      <h3 class="fr-h4 underlined fr-pb-1w"><%= t('pages.shipments.new.quotient_familial.title', regime: @quotient_familial_facade.regime) %></h3>

      <ul>
        <li>
          <strong><%= t('pages.shipments.new.quotient_familial.quotient', month_year: @quotient_familial_facade.month_year) %></strong>
          <br /><%= @quotient_familial_facade.quotient %>
        </li>

        <li>
          <strong><%= t('pages.shipments.new.allocataires') %></strong>
          <% @quotient_familial_facade.allocataires.each do |allocataire| %>
            <br /><%= allocataire %>
          <% end %>
        </li>

        <li>
          <strong><%= t('pages.shipments.new.children') %></strong>
          <% @quotient_familial_facade.children.each do |child| %>
            <br /><%= child %>
          <% end %>

          <% if @quotient_familial_facade.children.blank? %>
            <br /><%= t('pages.shipments.new.no_children') %>
          <% end %>
        </li>
      </ul>
    <% end %>

    <h3 class="fr-h4 underlined fr-pb-1w fr-mt-2w"><%= t('pages.shipments.new.france_connect.title') %></h3>

    <%= simple_format @pivot_identity_facade.full_sentence, { }, wrapper_tag: 'p' %>
  </div>

  <h2 class="fr-mt-3w"><%= t('pages.shipments.new.second_title') %></h2>

  <div class="fr-alert fr-alert--info">
    <h3 class="fr-alert__title"><%= t('pages.shipments.new.info.title') %></h3>
    <p class="fr-my-2w">
      <span class="fr-icon-success-fill success-green" aria-hidden="true"></span>
      <%=  t('pages.shipments.new.info.paragraph_1', collectivity: @collectivity.name) %>
    </p>
    <p>
      <span class="fr-icon-success-fill success-green" aria-hidden="true"></span>
      <%=  t('pages.shipments.new.info.paragraph_2', collectivity: @collectivity.name) %>
    </p>
  </div>

  <div class="fr-grid-row fr-mt-3w">
    <div class="fr-col">
      <%= link_to t('shared.previous_button'), collectivities_path, class: "fr-btn fr-btn--secondary fr-btn--icon-left fr-fi-arrow-left-line" %>
    </div>

    <%= form_tag(collectivity_shipments_path(params[:collectivity_id]), method: 'post', data: {turbo: false}) do %>
      <%= button_tag t('pages.shipments.new.next_button'), type: :submit, class: "fr-btn fr-btn--icon-right fr-fi-arrow-right-line" %>
    <% end %>
  </div>
</div>
