<header role="banner" class="fr-header">
  <div class="fr-header__body">
    <div class="fr-container">
      <div class="fr-header__body-row">
        <div class="fr-header__brand fr-enlarge-link">
          <div class="fr-header__brand-top">
            <div class="fr-header__logo">
              <%= simple_format t('layout.entity'), { class: 'fr-logo' }, wrapper_tag: 'p' %>
            </div>
          </div>
          <div class="fr-header__service">
            <a href="/" title="<%= t('pages.home.title')%> - <%= t('layout.title') %>">
              <p class="fr-header__service-title">
                <%=t('header.title.bold_part')%><i class="unbold"><%=t('header.title.italic_part')%></i>
              </p>
            </a>
            <p class="fr-header__service-tagline">
              <%= t('layout.tagline') %>
            </p>
          </div>
        </div>
        <% if Current.user.authenticated? %>
          <div class="fr-header__tools">
            <div class="fr-header__tools-links">
              <ul class="fr-btns-group">
                <li>
                  <%= button_to "Se déconnecter", logout_path, method: :delete, class: "fr-btn fr-icon-account-line", data: {turbo: false} %>
                </li>
              </ul>
            </div>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</header>
