<header role="banner" class="fr-header">
  <div class="fr-header__body">
    <div class="fr-container">
      <div class="fr-header__body-row">
        <div class="fr-header__brand fr-enlarge-link">
          <div class="fr-header__brand-top">
            <div class="fr-header__logo">
              <%= simple_format t('layout.entity'), { class: 'fr-logo' }, wrapper_tag: 'p' %>
            </div>
            <div class="fr-header__navbar">
              <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-499" aria-haspopup="menu" id="button-500" title="Menu">
                Menu
              </button>
            </div>
          </div>
          <div class="fr-header__service">
            <a href="/" title="<%= t('pages.home.title')%> - <%= t('layout.title') %>">
              <p class="fr-header__service-title">
                <%=t('header.title.bold_part')%><i class="unbold"><%=t('header.title.italic_part')%></i>
              </p>
            </a>
            <p class="fr-header__service-tagline">
              <%= t('layout.tagline') %>
            </p>
          </div>
        </div>
        <div class="fr-header__tools">
           <div class="fr-header__tools-links">
            <div class="two-rows-headers">
              <% if Current.user.authenticated? %>
                <div class="fr-mr-1w fr-mb-1w">
                  <%= Current.user.display_name %>
                </div>
              <% end %>

              <ul class="fr-btns-group">
                <li>
                  <%= link_to "Aide et FAQ", faq_path, class: "fr-btn fr-icon-information-fill" %>
                </li>

                <% if Current.user.authenticated? %>
                  <li>
                    <%= button_to t('header.logout'), logout_path, method: :delete, class: "fr-btn fr-icon-account-line", data: {turbo: false} %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="fr-header__menu fr-modal" id="modal-499" aria-labelledby="button-500">
    <div class="fr-container">
      <button class="fr-btn--close fr-btn" aria-controls="modal-499" title="Fermer">
        Fermer
      </button>
      <div class="fr-header__menu-links">
      </div>
    </div>
  </div>
</header>
