<!DOCTYPE html>
<html>
  <head>
    <title><%= @browser_title %></title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "dsfr-fonts", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "dsfr", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "dsfr-utility", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_include_tag "dsfr.module", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>

    <%= render partial: 'shared/favicons' %>
    <%= render partial: 'layouts/analytics' %>
  </head>
  <body>
    <%= render partial: 'layouts/skiplinks' %>
    <%= render partial: 'shared/support_banner' %>
    <%= render partial: 'layouts/header' %>

    <main>
      <%= render partial: "layouts/banner" %>

      <div class="fr-container fr-my-6w" id="contenu">
        <%= render partial: "layouts/flash" %>
        <%= yield %>
      </div>
    </main>

    <%= yield :secondary_information %>
    <%= render partial: 'layouts/footer' %>
  </body>
</html>
