<!DOCTYPE html>
<html>
  <head>
    <title><%= t('layout.title') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "dsfr-fonts", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "dsfr", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "dsfr-utility", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_include_tag "dsfr.module", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>

    <%= render partial: 'shared/favicons' %>
  </head>
  <body>
    <%= render partial: 'layouts/header' %>
    
    <main>
      <div class="banner fr-py-4w">
        <div class="fr-container">
          <%= yield :banner %>
        </div>
      </div>

      <div class="fr-container fr-my-6w">
        <%= yield %>
      </div>
    </main>

    <pre>
      <%= debug Current.user %>
      <%= debug Current.recipient %>
      <%= debug Current.pivot_identity %>
      <%= debug Current.quotient_familial %>
    </pre>

    <%= render partial: 'layouts/footer' %>
  </body>
</html>
